ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #3ab397;
  }
  .jumbotron{
    height: 100vh;
    margin-bottom: 0px;
  }
  .card-img-top{
    padding: 20px 20px 20px 20px;
  }
  .card{
   
    background-color: white;
   
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .dropdown{
    float: left;
  }
  .card-body{
    border-radius: 15%;
  }
table,th,td{
  border: 1px solid black;
}
th,td{
  padding:10px;
}
table{
  padding-top: 10%;
  margin-left: 100px;
  padding-left: 100px;
  margin-top: 10px;
}
.vaish{
  padding-top: 50px;
  
  padding-left: 20px;
}