<div class="home">
  <div class="row home">
      <div class="col">
          <!---->
          <div class="hover-now">
          <mat-card class="example-card card">
     <mat-card-header>
       <mat-card-title><b> Books</b></mat-card-title>
     </mat-card-header>
     <div class="im"><img mat-card-image src="https://i.pinimg.com/originals/b1/5f/02/b15f027eddff3f7c88be59a5e724a3a4.jpg" alt="Photo of a Shiba Inu"></div>
     <mat-card-content>
       <p>
         the list of books we have and its varied categories.the more deeper dive into the world of books the better is the knowledge and easier is to keep a pace with the ever growing world with a cut throat competition.
       </p>
     </mat-card-content>
     <mat-card-actions>
       <a routerLink="/man_book" mat-raised-button color="primary">Try</a>
     </mat-card-actions> 
     </mat-card>
      </div>
      </div>
     
   

      <div clas="col">
         <mat-card class="example-card card">
             <mat-card-header>
               <mat-card-title><b>Registration</b></mat-card-title>
             </mat-card-header>
             <div class="im"><img mat-card-image src="https://image.shutterstock.com/image-illustration/registration-blue-arrow-slogan-on-260nw-162776264.jpg" alt="Photo of a Shiba Inu"></div>
             <mat-card-content>
               <p>
                 a registration so as to validate the entry and access of valid members to this online library management system which will prevent any outside access hence keep the system safe
               </p>
             </mat-card-content>
             <mat-card-actions>
               <a routerLink="/regs" mat-raised-button color="primary">Try</a>
             </mat-card-actions>
         </mat-card> 
     </div>
  </div>
 
 
  <div class="row home">
     <div class="col">
         <!---->
         <mat-card  class="example-card card">
    <mat-card-header>
      <mat-card-title><b>Student Info</b></mat-card-title>
    </mat-card-header>
    <div class="im"><img mat-card-image src="https://ak0.picdn.net/shutterstock/videos/19525480/thumb/1.jpg" alt="Photo of a Shiba Inu" ></div>
    <mat-card-content>
      <p>
       the student information is present along with all necessary academic details required to identify him/her as a student.
       the library management system identifies the unique identity of every student and hence this information is maintained without any piracy
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink='/stu_info' mat-raised-button color="primary">Try</a>
    </mat-card-actions> 
    </mat-card>
     </div>
 
     <div clas="col">
        <mat-card class="example-card card">
            <mat-card-header>
              <mat-card-title><b>Search</b> </mat-card-title>
            </mat-card-header>
            <div class="im"><img mat-card-image src="https://buidln.clipdealer.com/002/174/800//previews/1--2174800-Searching%20process%20with%20Loupe.%20Loopable%20animation.%20HD%201080..jpg" alt="Photo of a Shiba Inu"></div>
            <mat-card-content>
              <p>
               searching can be tedious if not in proper way without technicality and the most efficient use of a software lies in seraching.lets not waste time in searching.heed for this icon and utilise the time in reading more & more
     
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/book_ser" mat-raised-button color="primary">Try</a>
            </mat-card-actions>
        </mat-card> 
    </div>
 </div>

 <!-- <div class="row home">
   <div class="col">
    <div class="hover-now">
      <mat-card class="example-card card">
 <mat-card-header>
   <mat-card-title><b> Issue/Reissuep</b></mat-card-title>
 </mat-card-header>
 <div class="im"><img mat-card-image src="https://i.pinimg.com/originals/b1/5f/02/b15f027eddff3f7c88be59a5e724a3a4.jpg" alt="Photo of a Shiba Inu"></div>
 <mat-card-content>
   <p>
     the list of books we have and its varied categories.the more deeper dive into the world of books the better is the knowledge and easier is to keep a pace with the ever growing world with a cut throat competition.
   </p>
 </mat-card-content>
 <mat-card-actions>
   <a routerLink="/man_book" mat-raised-button color="primary">Try</a>
 </mat-card-actions> 
 </mat-card>
  </div>
   </div>
 </div>
 </div>

  -->