  <section class="hero is-primary">
   
      <!-- <div class="container"> -->

        <nav class="level">

            <p class="level-item has-text-centered">
              <a class="link is-info"> <i class="fas fa-home"></i></a>
              <a class="link is-info"> Home </a>
            </p>
           
            <p class="level-item has-text-centered">
              SMART LIBRARY
            </p>
           
            <div class="level-item has-text-centered">
              <button class="buton" mat-button [matMenuTriggerFor]="menu" class="link is-info" (click)="onClick()">  
                <i class="fas fa-sort-down"> </i>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item>Details</a>
                    <a mat-menu-item>Logout</a>
                </mat-menu>
            </button>
              <p>  Login  </p>
            </div>

          </nav>
     
  </section>
  
<!-- LOGIN FORM  -->
<div class="login" *ngIf="show">
    <div class="container">

        <div clas="row">      <!--Text-->
            Please Login First
        </div>
        <div>
            <img src="" alt="logo">  <!--Logo of our software-->
        </div>
        <div class="row">
         <form class="example-form">
             <!-- EMAIL -->
            <mat-form-field class="example-full-width">
              <input class="input" matInput placeholder="Email" [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- PASSWORD -->
            <mat-form-field class="example-full-width">
                <input class="input" matInput placeholder="Password">
            </mat-form-field>
          </form>
        </div>
        <div class="row">
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </div>
</div>
