<div class="row abc">
    <div class="col">

        <mat-card class="example-card card">
            <mat-card-header>
              <mat-card-title><b>Register Student</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/smart-library-55e4d.appspot.com/o/student.png?alt=media&token=5ef5b398-b8ed-4f93-a8f7-2cf8d8864893" alt="Photo of a Shiba Inu " height="200px" width="300px">
            <mat-card-content>
             
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/regs/stu" mat-raised-button color="primary">REGISTER</a>
            </mat-card-actions> 
            </mat-card>

    </div>
    <div class="col">
        <mat-card class="example-card card">
            <mat-card-header>
              <mat-card-title><b>Register Member</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/smart-library-55e4d.appspot.com/o/Screenshot%202020-01-18%20at%205.02.28%20PM.png?alt=media&token=f9285cb1-5574-4bb0-b414-4651b1eb5fa3" alt="Photo of a Shiba Inu" height="200px" width="300px">
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/regs/mem" mat-raised-button color="primary">REGISTER</a>
            </mat-card-actions> 
            </mat-card>
    </div>
</div>

