<div class="row abc">
    <div class="col">

        <mat-card class="example-card card">
            <mat-card-header>
              <mat-card-title>Register Student</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="http://www.hpc-uk.org/globalassets/image-library/icons/icon-register-800x600.gif" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Text Field
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/regs/stu" mat-raised-button color="primary">Try</a>
            </mat-card-actions> 
            </mat-card>

    </div>
    <div class="col">
        <mat-card class="example-card card">
            <mat-card-header>
              <mat-card-title>Register Member</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="http://www.hpc-uk.org/globalassets/image-library/icons/icon-register-800x600.gif" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Text Field
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/regs/mem" mat-raised-button color="primary">Try</a>
            </mat-card-actions> 
            </mat-card>
    </div>
</div>